@import url("https://rsms.me/inter/inter.css");

@font-face {
    font-family: "Neutrif Pro Light";
    src: url("/font/NeutrifPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "Neutrif Pro Medium";
    src: url("/font/NeutrifPro-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Neutrif Pro Bold";
    src: url("/font/NeutrifPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Neutrif Pro Regular";
    src: url("/font/NeutrifPro-Regular.otf") format("opentype");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.itc {
    font-family: "Neutrif Pro Medium";
}

.light {
    font-family: "Neutrif Pro Light";
}

.reg {
    font-family: "Neutrif Pro Regular";
}

.intr {
    font-family: "Inter";
}

@media only screen and (max-width: 390px) {
    .main-cap {
        font-size: 6vw !important;
    }
}

input:focus,
textarea:focus {
    border-color: #cf9430;
}

* {
    scroll-behavior: smooth !important;
}
