@font-face {
    font-family: "Neutrif Pro Light";
    src: url("https://dezaan.com/static/NeutrifPro-Light-aee1ab0371037d8104a89f3ba7d55355.otf")
        format("opentype");
}

@font-face {
    font-family: "Neutrif Pro Medium";
    src: url("https://dezaan.com/static/NeutrifPro-Medium-1d1b2a9c6978df8c85d8fc5405c7ced3.otf")
        format("opentype");
}

@font-face {
    font-family: "Neutrif Pro Bold";
    src: url("https://dezaan.com/static/NeutrifPro-Bold-0f992eab7d984c6912000fdafddef83a.otf")
        format("opentype");
}

@font-face {
    font-family: "Neutrif Pro Regular";
    src: url("https://dezaan.com/static/NeutrifPro-Regular-5fe119315ccb03ac55429bdedb77c3c4.otf")
        format("opentype");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.itc {
    font-family: "Neutrif Pro Medium";
}

.light {
    font-family: "Neutrif Pro Light";
}

@media only screen and (max-width: 390px) {
    .main-cap {
        font-size: 6vw !important;
    }
}
